.displFlex{
  display: flex;
}

.dialogHeader{
  height: 70px;
  background-color: #acddd4;
  margin-top: -24px;
  margin-right: -24px;
  margin-left: -24px;
  position: relative;
}

.whiteColor {
  color: white;
}

.alignVertHoriz{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span, .whiteColor {
  font-weight: bold;
}
