<div class="container-fluid">

  <app-progress-bar *ngIf="notLoaded"></app-progress-bar>
  <h5 *ngIf="message.text" class="alert alert-{{message.type}} alignVertHoriz">
    {{message.text}}
  </h5>

  <div class="row justify-content-center">
    <div class="col-md-5" *ngFor="let book of booksList; let i = index" [attr.data-index]="i">
      <mat-card class="card container-fluid">
        <div class="row marginZero">

          <div class="col-sm-5 col-md-12 col-lg-5 paddingZero bookCover">
            <img src='{{book.picture}}' alt="Book's cover">
          </div>

          <div class="col-sm-7 col-md-12 col-lg-7 textColumn paddingRightZero">
            <h3 class="marginTop10">
              {{book.bookTitle | titlecase | englishLetters }}
            </h3>
            <h6 class="marginTop20">
              {{'by '}}{{book.authorName | stringLength}}
            </h6>
            <h6 class="marginTop20">
              {{'publish date: '}}{{book.publishDate}}
            </h6>
            <p class="marginTop20 smallFont">
              {{'id: '}}{{book.id}}
            </p>
            <div class="row buttons marginBottom10">
              <div class="col-6 textCenter paddingZero">
                <button mat-raised-button class="marginBottom10" (click)="openEditDialog(book, i)">
                  Edit book
                </button>
              </div>
              <div class="col-6 textCenter paddingZero">
                <button mat-raised-button class="marginRight" (click)="openDeleteDialog(book, i)">Delete book</button>
              </div>
            </div>

          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="right-down" matTooltip="Add new Event" [matTooltipPosition]="'before'">
    <button mat-fab (click)="openAddNewBookDialog()" *ngIf="!notLoaded">
      <i class="material-icons">add_circle</i>
    </button>
  </div>
</div>
