.paddingZero{
  padding: 0;
}

.paddingRightZero{
  padding-right: 0;
}

.marginZero{
  margin: 0;
}

.marginTop20{
  margin-top: 20px;
}
.marginTop10{
  margin-top: 10px;
}

.marginBottom10{
  margin-bottom: 10px;
}

.marginBottom40{
  margin-bottom: 40px;
}

.paddingTop10{
  padding-top: 10px;
}

.paddingLeft20{
  padding-left: 20px;
}

.padding24{
  padding: 24px;
}
