$greyColor: #D5DBDB;

.mat-form-field-underline{
  right: 0;
  width: 70% !important;
}
.mat-error{
  text-align: center;
}

.mat-form-field{
  display: initial !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
  bottom: 1.55em !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: $greyColor;
}

.mat-form-field.mat-focused .mat-form-field-label{
  color: $greyColor;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: $greyColor;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: $greyColor;
}

.mat-form-field-infix{
  border-top: none;
}

.mat-dialog-container{
  padding: 0 !important;
}

.mat-card-image:first-child{
  margin-top: 0 !important;
}
